{{ partial "header" . }}
{{ $event := index .Site.Data.event .Slug }}
<h1><span class="alt1">Event</span> //  {{ .Title }}</h1>
<table class="ui inverted striped collapsing table">
  {{ if $event.date }}
    <tr>
      <td>Date:</td>
      <td>{{ $event.date }}</td>
    </tr>
  {{ end }}
  {{ if $event.date }}
    <tr>
      <td>Time:</td>
      <td>{{ index $event.time 0 }} - {{ index $event.time 1 }}</td>
    </tr>
  {{ end }}
</table>

{{ partial "set" (dict "data" $.Site.Data "set" . "type" "event" "slug" $.Slug) }}

{{ partial "footer" . }}
