{{ partial "header" . }}
{{ $event := index .Site.Data.event .Slug }}
<h1><span class="alt1">Event</span> //  {{ .Title }}</h1>
<table class="ui inverted striped collapsing table">
  {{ if $event.date }}
    <tr>
      <td>Date:</td>
      <td>{{ $event.date }}</td>
    </tr>
  {{ end }}
  {{ if $event.date }}
    <tr>
      <td>Time:</td>
      <td>{{ index $event.time 0 }} - {{ index $event.time 1 }}</td>
    </tr>
  {{ end }}
</table>
<h2>Livesets</h2>
<table class="ui inverted striped table">
  {{ range .Site.Data.set }}
    {{ if eq $.Slug .event }}
      {{ $dj := index $.Site.Data.dj .dj }}
      <tr>
        <td>{{ index .timeslot 0 }} - {{ index .timeslot 1 }}</td>
        <td>
          {{ if $dj.hide }}
            {{ $dj.name }}
          {{ else }}
            <a href="/dj/{{ .dj }}/">{{ $dj.name }}</a>
          {{ end }}
        </td>
        <td>
          {{ if isset . "download" }}
            <a href="{{ .download }}">Download</a>
          {{ else }}
            N/A
          {{ end }}
        </td>
      </tr>
      {{ if isset . "player" }}
        <tr>
          <td colspan="3">
            {{ partial "player" . }}
          </td>
        </tr>
      {{ end }}
    {{ end }}
  {{ end }}
</table>
{{ partial "footer" . }}
