{{ partial "header" . }}
{{ $event := index .Site.Data.event .Slug }}
<h1><span class="alt1">Event</span> //  {{ .Title }}</h1>
<table class="table table-inverse table-striped event-info">
  {{ if $event.date }}
    <tr>
      <td>Date:</td>
      <td>{{ $event.date }}</td>
    </tr>
  {{ end }}
  {{ if $event.date }}
    <tr>
      <td>Time:</td>
      <td>{{ index $event.time 0 }} - {{ index $event.time 1 }}</td>
    </tr>
  {{ end }}
  {{ if $event.aftermovie }}
    <tr>
      <td>Aftermovie:</td>
      <td><a href="{{ $event.aftermovie }}">Watch</a></td>
    </tr>
  {{ end }}
</table>

{{ partial "set" (dict "data" $.Site.Data "set" . "type" "event" "slug" $.Slug) }}

{{ partial "footer" . }}
