{{ partial "header" . }}
{{ $dj := index .Site.Data.dj .Slug }}
<h1><span class="alt1">DJ</span> // {{ .Title }}</h1>
<table class="table table-dark table-striped dj-info">
  {{ if $dj.aka }}
    <tr>
      <td>A.K.A.:</td>
      <td>{{ $dj.aka }}</td>
    </tr>
  {{ end }}
  {{ if $dj.twitter }}
    <tr>
      <td>Twitter:</td>
      <td><a href="http://twitter.com/{{ $dj.twitter }}">@{{ $dj.twitter }}</a></td>
    </tr>
  {{ end }}
  {{ if $dj.site }}
    <tr>
      <td>Website:</td>
      <td><a href="http://{{ $dj.site }}">{{ $dj.site }}</a></td>
    </tr>
  {{ end }}
</table>

{{ partial "set" (dict "data" $.Site.Data "type" "dj" "slug" $.Slug) }}

{{ partial "footer" . }}
