{{ partial "header" . }}
{{ $dj := index .Site.Data.dj .Slug }}
<h1><span class="alt1">DJ</span> // {{ .Title }}</h1>
<table class="ui inverted striped collapsing table">
  {{ if $dj.aka }}
    <tr>
      <td>A.K.A.:</td>
      <td>{{ $dj.aka }}</td>
    </tr>
  {{ end }}
  {{ if $dj.twitter }}
    <tr>
      <td>Twitter:</td>
      <td><a href="http://twitter.com/{{ $dj.twitter }}">@{{ $dj.twitter }}</a></td>
    </tr>
  {{ end }}
  {{ if $dj.site }}
    <tr>
      <td>Website:</td>
      <td><a href="http://{{ $dj.site }}">{{ $dj.site }}</a></td>
    </tr>
  {{ end }}
</table>
<h2>Livesets</h2>
<table class="ui inverted striped table">
  {{ range .Site.Data.set }}
    {{ if eq $.Slug .dj }}
      {{ $event := index $.Site.Data.event .event }}
      <tr>
        <td><a href="/event/{{ .event }}/">{{ $event.title }}</a></td>
        <td>{{ index .timeslot 0 }} - {{ index .timeslot 1 }}</td>
        <td>
          {{ if isset . "download" }}
            <a href="{{ .download }}">Download</a>
          {{ else }}
            N/A
          {{ end }}
        </td>
      </tr>
      {{ if isset . "player" }}
        <tr>
          <td colspan="3">
            {{ partial "player" . }}
          </td>
        </tr>
      {{ end }}
    {{ end }}
  {{ end }}
</table>
{{ partial "footer" . }}
