          </div>
        </div>
        <div class="ui row">
          <div class="ui sixteen wide column" id="footer">
            For Changes and Additions please contact me on 
            <a href="https://twitter.com/LynxPebbles">Twitter</a>
            or
            <a href="https://www.facebook.com/lynx.pebbles">Facebook</a>
            <br />
            <small>All Content &copy; Their Respective Owners</small>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/site.js"></script>
  </body>
</html>
