          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" id="footer">
          <div class="inner-bg">
            For Changes and Additions please contact me on
            <a href="https://twitter.com/ZowieLynx">Twitter</a>
            or
            <a href="https://www.facebook.com/zowielynx">Facebook</a>
            <br />
            <small>All Content &copy; Their Respective Owners</small>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
