<!DOCTYPE html>
<html>
  <head>
    <title>Furrave :: Livesets</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/site.css" />
  </head>
  <body>
    <div id="logo">
      <img src="/assets/img/logo.png" alt="Furrave :: Livesets">
    </div>
    <div class="ui container">
      <div class="ui stackable grid">
        <div class="ui row">
          <div class="ui four wide column" id="sidebar">
            <h2>DJs</h2>
            <ul>
              {{ range .Site.Menus.djs }}
                <li><a href="{{.URL}}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            <h2>Editions</h2>
            <ul>
              {{ range .Site.Menus.events }}
                <li><a href="{{.URL}}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="ui column"></div>
          <div class="ui eleven wide column" id="content">
