<h2>Livesets</h2>
<table class="table table-dark livesets">
  {{ range $idx, $elem := .data.set }}
    {{ if or (and (eq $.type "dj") (eq $.slug .dj)) (and (eq $.type "event") (eq $.slug .event)) }}
      {{ $event := index $.data.event .event }}
      <tr>
        {{ if eq $.type "dj" }}
          <td><a name="tracklist-{{ $idx }}" href="/event/{{ .event }}/">{{ $event.title }}</a></td>
        {{ end }}
        <td>{{ index .timeslot 0 }} - {{ index .timeslot 1 }}</td>
        {{ if eq $.type "event" }}
          {{ if reflect.IsSlice .dj }}
            <td>
              {{ $lastDj := index (last 1 .dj) 0 }}
              {{ range $djSlug := .dj }}
                {{ $dj := index $.data.dj $djSlug }}
                  {{ if $dj.hide }}
                    {{ $dj.name }}
                  {{ else }}
                    <a class="dj-link" name="tracklist-{{ $idx }}" href="/dj/{{ $djSlug }}/">{{ $dj.name }}</a>{{ if ne $lastDj $djSlug }},{{ end }}
                  {{ end }}
              {{ end }}
            </td>
          {{ else }}
            {{ $dj := index $.data.dj .dj }}
            <td>
              {{ if $dj.hide }}
                {{ $dj.name }}
              {{ else }}
                <a name="tracklist-{{ $idx }}" href="/dj/{{ .dj }}/">{{ $dj.name }}</a>
              {{ end }}
            </td>
          {{ end }}
        {{ end }}
        <td class="links">
          {{ if isset . "tracklist" }}
          <a class="toggle-tracklist" href="#tracklist-{{ $idx }}"><i class="icon-list"></i></a>
          {{ end }}
          {{ if isset . "download" }}
            <a href="{{ .download }}"><i class="icon-download"></i></a>
          {{ end }}
        </td>
      </tr>
      {{ if isset . "player" }}
        <tr>
          <td colspan="3">
            {{ partial "player" . }}
          </td>
        </tr>
      {{ end }}
      {{ if isset . "tracklist" }}
        <tr>
          <td id="tracklist-{{ $idx }}" colspan="3" class="tracklist">
            <h2>Tracklist</h2>
            <ol>
              {{ range $track := .tracklist }}
                <li>{{ $track }}</li>
              {{ end }}
            </ol>
          </td>
        </tr>
      {{ end }}
    {{ end }}
  {{ end }}
</table>
