body {
  background: url('img/background.jpg');
}

#logo {
  margin-bottom: 5em;
  text-align: center;
}

.alt1 {
  color: #ec5538;
}

#logo img {
  padding-left: 13%;
  max-width: 100%;
}

#sidebar, #content, #logo {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.7em;
}

#sidebar a, #sidebar h2 {
  font-weight: normal;
  font-family: 'Oswald';
  letter-spacing: 1.5px;
}

#sidebar a {
  color: white;
}

#sidebar a:hover {
  color: #EEE;
  text-decoration: underline;
}

#sidebar {
  font-size: 20px;
  line-height: 130%;
}

#sidebar ul {
  list-style: none;
  padding-left: 0;
}

#sidebar h2 {
  color: #ec5538;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
.mejs-controls .mejs-button button:focus {
	outline: 0 !important;
}
